body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top {
    height: 100vh;
    background-image: url('https://res.klook.com/image/upload/fl_lossy.progressive,q_85/c_fill,w_1000/v1604635131/blog/segcrkmmghuvmo6vts7i.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(251, 251, 251);
    font-family: Arial, sans-serif;
}

.top-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.top-content p {
    font-size: 24px;
    font-style: italic;
}
.gallery-section {
    padding: 50px 0;
    text-align: center;
    background-color: #f5f5f5;
}
.gallery-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.discover-btn {
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    
}

.gallery-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}
.gallery-item {
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.gallery-item-content {
    padding: 20px;
}
.gallery-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.gallery-item p {
    font-size: 14px;
    margin-bottom: 10px;
}
.gallery-item a {
    background-color: #bdc3c7;
    color: #2c3e50;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}
.adventure-section {
    background-color: #dff9ffcb;
    color: rgb(0, 0, 0);
    padding: 50px 0;
}
.adventure-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.adventure-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.adventure-item:nth-child(even) {
    flex-direction: row-reverse;
}
.adventure-text {
    flex: 1;
    padding: 0 20px;
}
.adventure-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.adventure-text p {
    font-size: 16px;
    margin-bottom: 20px;
}
.adventure-img {
    flex: 1;
}
.adventure-img img {
    width: 100%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.7);
  }
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #dff9ffcb;
    color: #000000;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    clear: both;
    width:100%;
   

}
.feedback-form {
    background-color: #eaf7ff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.feedback-form h2 {
    color: #00aaff;
    font-size: 24px;
}

.feedback-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.feedback-form form input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff; 
    color: #000000; 
}


.feedback-form form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

.feedback-form form button:hover {
    background-color: #0088cc;
}
.footer {
    background-color: #dff9ffcb;
}

.calendar {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.prev, .next {
    cursor: pointer;
}
.month-year {
    font-weight: bold;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1px; 
}

.weekdays .weekday {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    font-weight: bold;
}

.days .day {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    line-height: 60px;
    cursor: pointer;
}

.day:hover {
    background-color: #eaf7ff;
}

.day.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

#selectedDate {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 600px) {
    .calendar {
        max-width: 100%; 
    }

    .header {
        font-size: 16px; 
    }

    .weekdays .weekday, .days .day {
        padding: 8px; 
        font-size: 14px; 
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .header {
        font-size: 17px; 
    }
}

.gallery-box {
    display: flex;
    justify-content: center;
    padding: 0 300px; 
}


.galleryImg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

img.wide-image {
    grid-column: span 2 / auto;
}

nav.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 15px 0;
}

nav.top-nav.transparent {
    background-color: transparent;
}

nav.top-nav.opaque {
    background: rgba(0, 0, 0, 0.744);
}


nav.top-nav .logo {
    
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    font-family: serif;
    display: flex;
}


nav.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav.top-nav ul li {
    margin: 0 15px;
}

nav.top-nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav.top-nav ul li a:hover {
    color: #ffcc00;
}

.loader {
    width: 44.8px;
    height: 44.8px;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse-ytk0dhmd {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }

#mapOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
#map {
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
}
#closeMap {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s; 
    border-radius: 50%;

}

.gotopbtn.visible {
    opacity: 1;
}